body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
header {
    background: #353535;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #696969 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
section {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.btn {
    display: inline-block;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #555;
}
